@model IEnumerable<Marketplace.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<h1>My Bids</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Offer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BidId">Edit my bid</a> |
                    <a asp-action="Delete" asp-route-id="@item.BidId">Delete my bid</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<hr />

<div>
    <a asp-controller="Home" asp-action="Index">Home</a> |

</div>