@model Marketplace.Models.Item

@{
    ViewData["Title"] = "BuyerDetails";
}

    <h1>Details</h1>

<div>
    <h4>Check this Item!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            <img class="attract-demo" src="~/images/model.ImagePath"
                 asp-append-version="true" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back</a> |
</div>
