@model Marketplace.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="Col-sm-2">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dd class="col-sm-10">
            <img class="attract-home" src="~/images/@Model.ImagePath"
                 asp-append-version="true" />
        </dd>
    </dl>
    <div>
        <h4>Active bids</h4>
        <hr />
    </div>
    <br />
</div>
@foreach (var item in Model.Bids)
{
    <dt class="col-sm-2">
        @Html.DisplayNameFor(ItemBid => item.Offer)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(ItemBid => item.Offer)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(ItemBid => item.User.UserName)
    </dt>
    <dd class="col-sm-2">
        @Html.DisplayFor(ItemBid => item.User.UserName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(ItemBid => item.Comment)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(ItemBid => item.Comment)
    </dd>
    <input type="submit" value="Accept" class="btn btn-primary" />
    <hr />
}
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Home</a> |
    <a asp-controller="Items" asp-action="MyItems">Back</a>
</div>
