@model IEnumerable<Marketplace.Models.Item>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager


        @{
    ViewData["Title"] = "Index";
        }

        <h1>Home</h1>

        <form asp-controller="Products" asp-action="Index" method="get">
            <input type="text" placeholder="Search For..." name="searchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-sm btn-primary" />
        </form>
        <br />

                @foreach (var item in Model)
        {

                    @*HOME ITEM CARD*@ 

                <div class="homeContainer">
                    <div class="card bg-light" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/@item.ImagePath" alt="Card image cap" asp-append-version="true" />
                        <div class="card-body">
                            <h5 class="card-title" asp-controller="Items" asp-action="BuyerDetails" asp-route-id="@item.ItemId">@Html.DisplayFor(model => item.Title)</h5>
                            <div>
                                <strong>@Html.DisplayFor(modelItem => item.ListPrice)</strong>
                            </div>
                            <hr>
                            <a asp-controller="Items" asp-action="BuyerDetails" asp-route-id="@item.ItemId" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                    @*HOME ITEM CARD*@


        }